<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Day8 Ex</title>
    <script src = "/libs/angular/angular.js"></script>
    <script src= "/index.js"></script>

</head>
<body ng-controller="RegCtrl as regCtrl">
        <h1>Register your Interest</h1>
        <form name="regForm" novalidate ng-submit="regCtrl.submit()">
            <table>
                <tr>
                    <td>Name:{{regCtrl.name}}</td>
                    <td>  
                        <Input type="text" name="name" id="name" size="30" required ng-model="regCtrl.name">
                    </td>
                </tr>
                <tr>  
                    <td>Email:</td>
                    <td>
                        <Input type="email" name="email" id="email" size="30" required ng-model="regCtrl.email">
                    </td>    
                </tr>
                <tr>
                    <td>
                        <button type="button" ng-click="regCtrl.clearForm()">Reset</button>
                        <button type="submit" ng-disabled="regForm.$invalid">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td>{{regCtrl.message}}</td> <!--Receive and print message.-->
            </table>
        </form>
</body>
</html>